services:
    gatekeeper:
        build:
            context: ./gatekeeper
            dockerfile: containerfile
        container_name: gatekeeper
        restart: unless-stopped
        env_file:
            - ./.env
        network_mode: service:tailscale
        depends_on:
            - pihole
            - tailscale

    openresty:
        image: openresty/openresty:1.21.4.1-0-alpine
        container_name: openresty
        restart: unless-stopped
        env_file:
            - ./.env
        volumes:
            - ./reverse-proxy/routes.lua:/etc/openresty/routes.lua:ro
            - ./services.json:/etc/openresty/services.json:ro
            - ./reverse-proxy/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
        network_mode: service:tailscale
        depends_on:
            - gatekeeper

    pihole:
        image: pihole/pihole:latest
        container_name: pihole
        restart: unless-stopped
        network_mode: service:tailscale
        cap_add:
            - NET_ADMIN
            - SYS_NICE
            - SYS_TIME
        environment:
            DNSMASQ_LISTENING: all
            FTLCONF_dns_listeningMode: ALL
            FTLCONF_dns_upstreams: "${FTLCONF_dns_upstreams}"
            FTLCONF_misc_etc_dnsmasq_d: true
            FTLCONF_webserver_api_password: "${FTLCONF_webserver_api_password}"
            FTLCONF_webserver_port: "8080o,[::]:8080o"
            TZ: "${TZ}"
        volumes:
            - pihole:/etc/pihole
            - ./99-custom-dns.conf:/etc/dnsmasq.d/99-custom-dns.conf:ro

    tailscale:
        image: tailscale/tailscale:latest
        container_name: tailscale
        hostname: "${HOSTNAME}"
        restart: unless-stopped
        environment:
            TS_AUTHKEY: ${TS_AUTHKEY}
            TS_STATE_DIR: /var/lib/tailscale
            TS_USERSPACE: false
        volumes:
        - tailscale:/var/lib/tailscale
        - /dev/net/tun:/dev/net/tun
        cap_add:
            - NET_ADMIN
            - NET_RAW
            - SYS_MODULE
        networks:
            watchdog:
                mac_address: "${WATCHDOG_MAC}"
                ipv4_address: "${WATCHDOG_IP}"

volumes:
    pihole:
        name: pihole
    tailscale:
        name: tailscale

networks:
    watchdog:
        name: watchdog
        driver: macvlan
        driver_opts:
          parent: "${HOST_PARENT_INTERFACE}"
        ipam:
          config:
            - subnet: 192.168.1.0/24
              gateway: 192.168.1.1